@{
    ViewBag.Title = "Tutorial Page 2";
}
@section header{
    <h1>Help Page</h1>
}
<h4>Tutorial - Page 2</h4>
<p> Here's the second thing you need to know about my website.</p>
<a asp-action="Index" asp-route-id="1" class="btn btn-dark">Prev</a>
<a asp-action="Index" asp-route-id="3" class="btn btn-dark">Next</a>